/* Hero */

.hero {
    margin: 0px 30px 0px 30px;
    padding-top: 60px;
    display: flex;
}

.hero h1 {
    font-size: 117px;
    font-family: "PP Agrandir";
    text-transform: uppercase;
    margin: 0px;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px
}

.hero-img {
    height: auto;
    width: auto;
    padding-bottom: 40px;
}

@media only screen and (max-width: 1000px) {
    .hero h1 {
        font-size: 40px;
    }

    .hero {
        flex-direction: column;
        padding-top: 0px;
        gap: 24px
    }

    .left-hero {
        flex-direction: column;
    }

    .button {
        margin: auto;
    }

    
}

/* Hero End */

/* Perks */

.skyline{
    text-align: center;
}

.perk-all {
    width: 100%;
    padding: 40px 0px 40px 0px
}

.perks {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 30px
}

.perk h2 {
    margin-bottom: 0px
}

.perk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .perks {
        flex-wrap: wrap;
        margin: 0px 24px 0px 24px
    }
}

/* Perks end */

/* why e-district */

.container-district {
    background-color: var(--blue-light);
    border-radius: 20px;
    border-top-left-radius: 270px;
    margin: 40px 40px 0px 40px;
    padding: 90px 40px 90px 40px;
}

.container-district h2 {
    text-align: center;
}

.content-side {
    display: flex;
    gap: 50px;
}

#conference-room1 {
    border-radius: 20px;
    height: auto;
    max-width: 50%;
}

@media only screen and (max-width: 1000px) {
    .content-side {
        gap: 32px;
    }
}

.left-cont {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media only screen and (max-width: 1000px) {
    .container-district {
        margin: 20px 12px;
        border-top-left-radius: 100px;
    }

    .content-side {
        flex-direction: column;
        gap: 32;
    }

    #conference-room1 {
        max-width: 100%
    }

    .left-cont {
        gap: 12px;
    }
}

/* why e-district end*/

/* our mission */

.mission-container {
    margin: 90px 40px 90px 40px;
    display: flex;
}

.content-mission {
    text-align: center;
    padding: 40px;
    border: 7px solid var(--blue);
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
}

.button-container {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right:auto;
    padding: 0px 50px 40px 50px;
    border-bottom: 7px solid var(--blue);
}

@media only screen and (max-width: 1000px) {
    .mission-container {
        flex-direction: column;
        margin: 24px 12px;
        gap: 12px;
    }

    .content-mission {
        padding: 18px;
    }

    .button-container {
        border-bottom: none;
    }
}

/* our mission end */

/* advantage */

.flip {
    flex-direction: row-reverse;
}

.reverse-radius {
    border-radius: 20px;
    border-top-right-radius: 270px;
}

@media only screen and (max-width: 1000px) {
    .flip {
        flex-direction: column;
    }

    .reverse-radius {
        border-top-right-radius: 100px;
    }
}

/* advantage end */

/* image slider */

/* image slider end */

/* quotes */

.quote-container {
    margin: 90px 40px 90px 40px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    max-width: 742px;
    margin: auto;
    padding: 40px 0px;
}

.dot-quote {
    width: 16px;
    height: 16px;
    border: 2px solid var(--neutral-black);
    border-radius: 100%;
}

.dot-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}