h1, h4 {
    text-align: center;
    padding-bottom: 50px;
}

h4 {
    max-width: 1000px;
    margin: 50px auto;
}

.map-container {
    margin: 0px 40px 40px 40px;
}

.map-container img {
    max-width: 100%;
}