h1, h3 {
    text-align: center;
    padding-bottom: 80px;
}

h3 {
    max-width: 1000px;
    margin: 50px auto;
    padding-bottom: 0px;
}

.map-container {
    margin: 0px 40px 40px 40px;
}

.map-container img {
    max-width: 100%;
}