

:root {
    --neutral-black: #0D0D0D;
    --neutral-white: #fff;
    --blue: rgba(73, 148, 188);
    --blue-light: rgba(216, 241, 255);
}


/* TYPOGRAPHY
================ */
@font-face {
  font-family: "PP Agrandir";
  src: url("assets/PPAgrandir-GrandHeavy.otf") format("opentype");
}
@font-face {
  font-family: "Neue Montreal";
  src: url("assets/NeueMontreal-Regular.otf") format("opentype");
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "PP Agrandir";
  line-height: 83%;
  text-transform: uppercase;
}

p, li, a, body, div {
  font-family: "Neue Montreal";
}

h1, .h1 {
  font-size: 170px;
}

@media only screen and (max-width: 1000px) {
  h1, .h1 {
    font-size: 45px;
    margin: 10px 10px 50px 10px;
  }
}

h2, .h2 {
  font-size: 60px;
}

@media only screen and (max-width: 1000px) {
  h2, .h2 {
      font-size: 24px;
  }
}

h3, .h3{
  font-size: 36px;
}

@media only screen and (max-width: 1000px) {
  h3, .h3 {
      font-size: 20px;
  }
}

p, .p{
  font-size: 16px;
}

/* END TYPOGRAPHY
================ */

/* NAV
================ */

/* END NAV 
================= */

body {
  margin: 0;
  padding: 0;
  padding-top: 127px;
  background-image: url("assets/bg-texture.png");
  background-size: 300px;
  overflow: auto;
  color: var(--neutral-black);
}

.body-width {
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 1000px) {
    .body-width{
        margin-left: 12px;
    margin-right: 12px;
    }
}

a {
    text-decoration: none;
    color: var(--neutral-black);
}

.links {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
}

.button {
    padding: 15px 0; /* Adjust padding as needed */
    width: 293px;
    background-color: var(--blue);
    text-align: center;
    font-size: 20px;
    font-weight: light;
    border-radius: 20px;
    color: var(--neutral-white);
    line-height: 45px; /* Adjust line-height to match button height */
    display:block;
}

.button img {
    margin-left: 10px;
    height: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 120px); /* Full width */
    padding: 16px 20px;
    background-color: var(--blue-light);
    border-radius: 20px;
    margin: 1em 40px; /* Center horizontally */
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-normal {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}



.mobile-bar {
    list-style: none;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: .5em;
    height: calc(60vh);
}

.expanded-nav {
    display: none;
    flex-direction: column;
}

.mobile-bar > a {
    color: var(--neutral-black);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 20px;
    display: none;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    border-radius: 10px;
  }
.box {
    height: 1000px;
    width: 100px;
}

.logo {
    padding-top: 20px;
    
}

@media only screen and (max-width: 1000px) {
    nav {
        width: calc(100% - 62px);  /* Adjusted for 12px margin on both sides */
        margin: 1em 10px;
    }

    .links  {
        display: none;
    }
    
    

    .logo {
        display: block;
        margin: auto;
        padding-top: 4px;
    }

    .menu {
        display: flex;
    }

    .button-visible {
        padding: 15px 0; /* Adjust padding as needed */
        width: 293px;
        background-color: var(--blue);
        text-align: center;
        font-size: 20px;
        font-weight: light;
        border-radius: 20px;
        color: var(--neutral-white);
        line-height: 45px; /* Adjust line-height to match button height */
        margin: auto;
    }

    .button-visible img {
        margin-left: 10px;
        height: 15px;
    }

    .nav-normal {
        display: block;
    }

    .disapear {
        display: none;
    }
}

.mobile-bar a div {
  font-family: 'PP Agrandir';
}

/* footer */

footer {
    justify-content: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--neutral-black);
    margin: 20px;
}

.center {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center; /* Centering properties */
}

.details {
    width:fit-content;
    gap: 0px;
    color: var(--medium-grey);
    align-items: center;
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 50px;
    gap: 30px
}

.social {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-top: 50px; /* Add margin-top to separate from links */
}

.social-media {
    display: flexbox;
    flex-direction: row;
    gap: 50px;
    padding-top: 20px;
}

.skyline {
    max-width: 100%;
}

.skyline-img {
    max-width: 100%;
    height: auto;
   
}

.center-links {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .center {
        justify-content: flex-start; /* Align everything to the left */
    }

    footer {
        display: flex;
        flex-direction: column;
        clear: both;
        margin: 12px;
    }
    

    .center-links .links {
        display: flex;
        justify-content: space-between; /* Center the links horizontally */
        font-size: 16px;
        gap: 20px;
    }

    .center-links {
      gap: 20px;
    }

    .social {
        flex-direction: column;
        float: left;
        clear: both;
        
    }

    .details {
        flex-direction: column;
        margin-top: 20px; /* Added margin-top */
        text-align: left; /* Ensure text alignment is left */
        margin-left: 0;
        align-items: baseline;
        gap: 0px;
    }
}

/* SLIDER 
============= */


.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.slide h3 {
  text-align: center;
  max-width: 800px;
}


.slide {
  padding: 2em 4em;
}


/* slick-theme.css | https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css */

.slick-dots li button::before {
  /* font-size: 6px; */
  font-size: 12px !important;
}
